.container{ 
    background: #f8f8f8;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.3);
    border-radius:5px;   
    width: 25%;
    min-width: 400px;
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50% ;
    left: 50%;    
}

.container h1{
    color: #835afd;
    font-size:20px;
    padding: 25px 20px 10px;  
}

.container .tasks{    
    padding: 15px 20px;    
    width: 100%;  
}

.container .tasks span{ 
    font-size:14px;
    color:#948a8a;
}